/* General */

@font-face {
    font-family: 'Flama-Book';
    src: url('flama-book-webfont.eot');
    src: url('flama-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('flama-book-webfont.woff2') format('woff2'),
         url('flama-book-webfont.woff') format('woff'),
         url('flama-book-webfont.ttf') format('truetype'),
         url('flama-book-webfont.svg#flamabook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flama-Thin';
    src: url('flama-thin-webfont.eot');
    src: url('flama-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('flama-thin-webfont.woff2') format('woff2'),
         url('flama-thin-webfont.woff') format('woff'),
         url('flama-thin-webfont.ttf') format('truetype'),
         url('flama-thin-webfont.svg#flamathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

img  {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic; }

html, body {
    height: 100%;
    font-size: 100%; }

body {
    padding: 0;
    margin: 0;
    font-family: "Courier-Std", "Courier New", Courier, monospace;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.10em;
    position: relative;
    background: rgb(245,233,235); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgb(245,233,235) 0%, rgb(218,237,236) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(245,233,235)), color-stop(100%,rgb(218,237,236))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgb(245,233,235) 0%,rgb(218,237,236) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgb(245,233,235) 0%,rgb(218,237,236) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgb(245,233,235) 0%,rgb(218,237,236) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgb(245,233,235) 0%,rgb(218,237,236) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e9eb', endColorstr='#daedec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
    background-repeat: no-repeat;
    background-attachment: fixed; }

/* Typography */

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0; 
    text-rendering: optimizeLegibility; 
    font-kerning: normal; }

a {
    color: inherit;
    text-decoration: none;
    line-height: inherit; }
    a:hover, a:focus {
        color: #ED0D6C; }
    a img {
        border: none; }

p {}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; }

h1 {
  font-size: 0.75em; }

h2 {
  font-size: 0.75em; }

h3 {
  font-size: 0.70em; }

h4 {
  font-size: 0.65em; }

h5 {
  font-size: 0.65em; }

h6 {
  font-size: 0.50em; }


.btn {
    border:1px solid #000000;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    border: 0;
    padding: 0;
    text-align: left;
    color: #000000; 
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none; }

.addtocart {
    border: none;
    font-family: "Courier-Std", "Courier New", Courier, monospace;
    font-size: 0.90em;
    font-weight: bolder;
    margin-bottom: 1.75em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

.addtocart:hover {
   color: #ED0D6C;
}

/* Header and Menu */

header,
nav {
    font-size: 0.80em;
    font-weight: bold;
    line-height: 0.80em;
    margin: 0 auto;
    width: 90%;
    max-width: 950px;
    text-align: center; }

header div {
    text-transform: uppercase;
    line-height: 1.45em;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 0;
    padding: 0; }

#date {
    width: 140px;
    height: 40px;
    text-align: left; }

#social {
    width: 140px;
    height: 40px;
    text-align: right; }

#social-trigger {
    cursor: pointer; }

#social-trigger:hover {
    color: #ED0D6C; }

.social-links {
    font-size: 0.80em;
    display: none; }

#menu-trigger {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    clear: both;
    display: block;
    margin: 0 auto;
    margin-bottom: -25px;
    z-index: 1000; }

.menu {
    list-style: none;
    text-align: justify;
    padding: 50px 0 0 0;
    z-index: 0;
    display: none; }

.menu:after {
    content: '';
    display: inline-block;
    width: 100%; }

.menu li {
    display: inline-block; }

.menu li a:hover {
    color: inherit;
    border-bottom: 4px solid #ED0D6C; }

/* Content */

div#container {
    margin-top: 20px;
    min-width: 100%;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1; }

div#content,
div#window {
    position: relative;
    border: 4px solid black;
    background: #ffffff;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 950px; }

div#content {
    padding: 0.25em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start; 
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    align-content: flex-start; }

div#window {
    padding: 5px;
    height: 100vh;
    max-height: 535px; 
    overflow: hidden; }

/* Shop */

.shop {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

.item {
    font-family: "Courier-Std", "Courier New", Courier, monospace;
    -webkit-box-flex: 1 250px;
    -moz-box-flex: 1 250px;
    -ms-box-flex: 1 250px;
    box-flex: 1 250px;
    flex: 1 250px;
    background-color: #f1eef0;
    position: relative;
    margin: .125em; }

.item-name {
    text-transform: uppercase;
    text-align: center; }

.item-color {
    text-transform: lowercase;
    text-align: center;
    font-style: italic; 
    margin-bottom: 1.5em; }

/* Text */

.text-only {
    font-family: "Flama-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }

.text-only h1 {
    margin-bottom: 5em; }

.text-only h2 {
    margin: 4em 0;}

/* Products */

.product {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

.product-image,
.product-text {
    -webkit-box-flex: 1 25em;
    -moz-box-flex: 1 25em;
    -ms-box-flex: 1 25em;
    box-flex: 1 25em;
    flex: 1 25em; 
    max-width: 100%; }

.product-image {
    line-height: 0;
    margin: .125em;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;    
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: flex-start;
    align-items: flex-start; 
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start; }

.product-image-big {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -ms-box-flex: 1 100%;
    box-flex: 1 100%;
    flex: 1 100%;
    margin: 0 0 .125em 0; }

.product-image-small {
    -webkit-box-flex: 2 30%;
    -moz-box-flex: 2 30%;
    -ms-box-flex: 2 30%;
    box-flex: 2 30%;
    flex: 2 30%;
    margin: .125em .125em 0 .125em; }

.product-image div:nth-child(2) {
    margin-left: 0; }
 
.product-image div:nth-child(4) {
    margin-right: 0; }

.product-text {
    background: #ffffff;
    padding: 2.75em 2.5em 1em 2em;
    margin: .125em; }

.product-text h1 {
    font-family: "Courier-Std", "Courier New", Courier, monospace;
    font-size: 1.25em; 
    text-transform: uppercase; }

.product-text h2 {
    font-family: "Courier-Std", "Courier New", Courier, monospace;
    font-size: 0.70em;
    font-weight: bold;
    font-style: italic; }

.product-description {
    font-family: "Flama-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.80em;
    margin-bottom: 1.5em; }

.product-specs {
    font-family: "Flama-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.80em;
    margin-bottom: 1.75em; }

.product-social {
    color: #808080;
    font-size: 0.70em;
    letter-spacing: 0.50em;
    margin-bottom: 1.75em; }

.product-social a:hover {
    color: #ED0D6C; }

.product-details {
    font-family: "Flama-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: 0.60em; }

/* Cart */

.cart {
    background-color: #f1eef0;
    width: 100%;
    height: 100%; }

.cart-row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

.cart-row div {
    -webkit-box-flex: 1 250px;
    -moz-box-flex: 1 250px;
    -ms-box-flex: 1 250px;
    box-flex: 1 250px;
    flex: 1 250px;
    position: relative;
    margin: .125em; }

.cart-quantity {
    border: 1px solid #000000;
    -webkit-appearance:none;
    -mos-appearance: none;
    appearance: none;
    text-align: center;
    font-size: 0.70em;
    height: 20px;
    color: #000000; }

/* Archive */

.archive {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     line-height: 0; }

.archive-1 {
    -webkit-box-flex: 1 15em;
    -moz-box-flex:  1 15em;
    -ms-box-flex: 1 15em;
    box-flex: 1 15em;
    flex: 1 15em;
    margin: .125em; }

.archive-2 {
    -webkit-box-flex: 1 60%;
    -moz-box-flex:  1 60%;
    -ms-box-flex: 1 60%;
    box-flex: 1 60%;
    flex: 1 60%;
    margin: .125em; }

.archive-3 {
    -webkit-box-flex: 1 90%;
    -moz-box-flex:  1 90%;
    -ms-box-flex: 1 90%;
    box-flex: 1 90%;
    flex: 1 90%;
    margin: .125em; }

/* Footer */


/* Mailchimp */

#mc_embed_signup {clear: both; font-size: 0.7em; width: 250px; margin: 0 auto; text-align: center;}
#mc_embed_signup form {display: block; padding: 10px 0 10px 0}
#mc_embed_signup input {border:1px solid #000000; -webkit-appearance:none; -moz-appearance: none; appearance: none; text-align: center; height: 30px; color: #000000; margin-bottom: 5px;}
#mc_embed_signup input:focus {border:1px solid #000000;}
#mc_embed_signup .button {
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto; }
#mc_embed_signup .button:hover {
    color: #ffffff; 
    background-color: #000000;}
#mc_embed_signup .button:focus { background-color: #555555; }

#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:inline-block; font-size:1em; padding-bottom:5px;}
#mc_embed_signup input.email {display:inline-block; padding:8px 0; text-indent:5px; width:75%; min-width:130px;}
#mc_embed_signup input.button {display:inline-block; width:35%; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

/* Utility */

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }